@model FamilyBilling.Models.Billing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paid By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            Include
        </dt>

        <dd>
            <div>
                @Html.DisplayFor(model => model.IncludePersonName)
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
