@model IEnumerable<FamilyBilling.Models.Billing>
@using FamilyBilling.Helpers

@{
    ViewBag.Title = "Billings";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            Paid By
        </th>
        <th>
            Include
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncludePersonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillingID })
        </td>
    </tr>
}

</table>
