@model IEnumerable<FamilyBilling.Models.Billing>
@using FamilyBilling.Helpers

@{
    ViewBag.Title = "Billings";
    var StartDate = (DateTime)ViewBag.StartDate;
    var EndDate = (DateTime)ViewBag.EndDate;
    var AmountM = (float)ViewBag.AmountM;
    var AmountS = (float)ViewBag.AmountS;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        <dl>
            <dt>
                Start From
            </dt>
            <dd>
                @Html.TextBox("StartDate", string.Format("{0:dd/MM/yyyy}", StartDate), new { htmlAttributes = new { @class = "form-control" } })
            </dd>
            <dt>
                To
            </dt>
            <dd>
                @Html.TextBox("EndDate", string.Format("{0:dd/MM/yyyy}", EndDate), new { htmlAttributes = new { @class = "form-control" } })
            </dd>
        </dl>
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            Paid By
        </th>
        <th>
            Include
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncludePersonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillingID })
        </td>
    </tr>
}

</table>

<h4>Summary</h4>
<hr />
<dl>
    <dt>
        Marshal:@Html.Display("AmountM")
    </dt>
    <dd>
        
    </dd>
    <dt>
        Simon: @Html.Display("AmountS")
    </dt>
        
    <dd>
    </dd>
</dl>
